/**
 *自定义ui库样式
 * 主要是elementui的默认样式的修改
 */
.el-scrollbar {
    .el-scrollbar__bar {
        border-radius: 2px !important;
        .el-scrollbar__thumb {
            background-color: rgba(139, 139, 139, 0.753) !important;
            opacity: 1 !important;
        }
    }
}
.el-message {
    border-radius: 999px !important;
    box-shadow: var(--bt-box-shadow-1);
}
