/**
 * 公用的css变量
 */
:root{
    --bg-color: #f3f3f3;
    --navbar-height:55px;
    --tags-height:40px;
    --menu-width:max(min(250px,20vw),230px);
    /** 页面中的间隔，间距 */
    --page-gap:10px;
    --my-border-color: #dcdfe6;
    --my-border-radius: 12px;
    --my-border-width-1: 0.55px;
    --border-color: #dcdfe6;
    --border-radius: 12px;
    --border-width-1: 0.55px;
    --text-color: #213547;
    --theme-color: rgb(25, 118, 210);  //主题色
}