# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: build-deploy

on:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                node-version: [20]

        steps:
            - uses: actions/checkout@v3

            - name: test ssh
              uses: appleboy/ssh-action@v1.2.0
              with:
                  host: ${{ secrets.REMOTE_HOST }}
                  username: ${{ secrets.REMOTE_USER }}
                  key: ${{ secrets.REMOTE_SSH_PRIVATE_KEY }}
                  port: 22
                  script: |
                      whoami
                      echo "ssh正常连接"
                      echo "REMOTE_DIR ${{ vars.REMOTE_DIR }}"

            - name: 安装 pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9

            - name: 使用 Node.js ${{ matrix.node-version }} 版本
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'pnpm'

            - name: Install npm dependencies
              run: |
                  pnpm i

            - name: Run web build task
              run: |
                  cd web
                  npm run build

            - name: Run web-base build task
              run: |
                  cd web-base
                  npm run build

            - name: Run web-base-ant build task
              run: |
                  cd web-base-ant
                  npm run build

            - name: Run web-naive-ui build task
              run: |
                  cd web-naive-ui
                  npm run build

            - name: Run server build task
              run: |
                  cd server
                  npm run build

            - name: 删除一些冗余文件
              uses: appleboy/ssh-action@v1.2.0
              with:
                  host: ${{ secrets.REMOTE_HOST }}
                  username: ${{ secrets.REMOTE_USER }}
                  key: ${{ secrets.REMOTE_SSH_PRIVATE_KEY }}
                  port: 22
                  script: |
                      echo "删除不需要的文件"
                      rm -rf ${{ vars.REMOTE_DIR }}/web/dist
                      rm -rf ${{ vars.REMOTE_DIR }}/web-base/dist
                      rm -rf ${{ vars.REMOTE_DIR }}/web-base-ant/dist
                      rm -rf ${{ vars.REMOTE_DIR }}/web-base-naive-ui/dist

            - name: Stage files to a temp dir
              run: |
                  mkdir -p __deploy
                  mkdir -p __deploy/web/dist
                  mkdir -p __deploy/web-base/dist
                  mkdir -p __deploy/web-base-ant/dist
                  mkdir -p __deploy/web-base-naive-ui/dist
                  mkdir -p __deploy/server/dist
                  cp pnpm-lock.yaml __deploy/
                  cp pnpm-workspace.yaml __deploy/
                  cp -r web/dist/. __deploy/web/dist/
                  cp -r web-base/dist/. __deploy/web-base/dist/
                  cp -r web-base-ant/dist/. __deploy/web-base-ant/dist/
                  cp -r web-base-naive-ui/dist/. __deploy/web-base-naive-ui/dist/
                  cp -r server/dist/. __deploy/server/dist/
                  cp server/ecosystem.config.cjs __deploy/server/
                  cp server/package.json __deploy/server/
                  cp server/.env.development __deploy/server/

            - name: Deploy to Server
              uses: easingthemes/ssh-deploy@main
              with:
                  SSH_PRIVATE_KEY: ${{ secrets.REMOTE_SSH_PRIVATE_KEY }}
                  ARGS: '-rlgoDzvc -i'
                  SOURCE: '__deploy/'
                  REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
                  REMOTE_USER: ${{ secrets.REMOTE_USER }}
                  TARGET: ${{ vars.REMOTE_DIR }}

            - name: 运行 PM2 服务
              uses: appleboy/ssh-action@v1.2.0
              with:
                  host: ${{ secrets.REMOTE_HOST }}
                  username: ${{ secrets.REMOTE_USER }}
                  key: ${{ secrets.REMOTE_SSH_PRIVATE_KEY }}
                  port: 22
                  script: |
                      echo "切换到ROOT用户"
                      sudo su

                      echo "安装根目录依赖"
                      cd ${{ vars.REMOTE_DIR }}
                      pnpm i

                      echo "启动PM2服务"
                      pm2 start ${{ vars.REMOTE_DIR }}/server/ecosystem.config.cjs
                      pm2 save
